// Tipografia
$fuente_principal: 'Source Sans Pro', sans-serif;

// Colores
$verde: #4CB8B3;
$rosa: #F53756;
$rojo: #ff2825;
$amarillo: #cfc85c;
$morado: #752F97;
$negro-claro: #2b2929;
$negro: #000000;
$blanco: #ffffff;
$gris: #e1e1e1;
$azul: #00abfb;
$celeste: #1989bd;

// Tamaño de Media Queries
$phone: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;
